build/
dist/
env/
MANIFEST
sopel-spellcheck.egg-info/*
*.pyc
*.pyo
*~

# IntelliJ idea
.idea
*.iml

# Eclipse/PyDev
.settings
.project
.pydevproject

# Test/Coverage
.cache
.pytest_cache
.coverage
coverage_html_report/

# macOS
*.DS_Store
